body {
  font-family: Arial, Helvetica, sans-serif;
}

#menu {
  display: none;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ccc;
}

#menuHome {
  background-image: url("/images/sustentavel.png");
}
#menuGoal1 {
  background-image: url("/images/pilares.png");
}
#menuGoal2 {
  background-image: url("/images/campus.png");
}
#menuGoal3 {
  background-image: url("/images/projectos.png");
}

#menu a {
  display: block;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  line-height: 32px;
  padding-left: 32px;
  text-decoration: none;
  color: #000;
}

#menu a:hover {
  background-color: #eee;
}

#hamburger-checkbox {
  display: none;
}

.hamburger {
  display: block;
  width: 100%;
  background-color: #aaa;
  text-align: right;
}

.hamburger-button {
  display: inline-block;
  padding-left: 8px;
  background-color: #ccc;
  cursor: pointer;
}

.hamburger-button::after {
  content: "\2630";
  font-size: 150%;
  vertical-align: middle;
  padding: 0 8px;
}

#hamburger-checkbox:checked ~ #menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  #menu {
    display: block;
  }
  nav {
    position: fixed;
    width: 100%;
    top: 0;
  }
  #menu li {
    float: left;
    width: 25%;
  }
  #menu a {
    line-height: 64px;
    padding-left: 64px;
    background-size: 64px 64px;
  }
  body {
    margin-top: 80px;
  }
}
